{% extends 'tasks/base_public.html' %}
{% load static %}

{% block content %}
    <section class="hero">
        <h2>Organize Your Tasks Efficiently</h2>
        <p>Track deadlines, prioritize your work, and boost your productivity.</p>
        <a href="{% url 'register' %}" class="btn-secondary">Get Started</a>
    </section>

    <section>
        <h3>Why Use This App?</h3>
        
            <p>You'll have Overdue task alerts to always stay on track,Flexible task sorting and filtering,a chance to manage subtasks, comments, secure user authentication and profile management</p></li>
           
        
    </section>

  

    <section class="glass-panel">
        <h2>Ready to start managing your tasks?</h2>
        <a href="{% url 'register' %}" class="btn-secondary">Join Now</a>
    </section>
{% endblock %}
