{% extends 'tasks/base_public.html' %}
{% load static %}

{% block content %}
   

    <div class="container">
        <section class="glass-panel" id="about-us">
            <h2>About Us</h2>
            <p>At Task Manager, we believe that tracking your tasks should be simple and motivating. Our platform is designed to help you stay accountable, visualize your progress, and crush your goals, whether you're managing personal errands or complex projects. We are a community of dedicated individuals, forging stronger habits and more organized lives together.</p>
        </section>

        

        <section class="glass-panel call-to-action">
            <h2>Ready to start managing your tasks?</h2>
            <a href="{% url 'register' %}" class="btn-secondary">Join Now</a>
        </section>
    </div>
{% endblock %}
